.heroSection {
  display: flex;
  gap: 125px;
  position: relative;
  padding: 78px 0;
  width: 100%;
}

.heroTitle {
  font-size: 80px;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 20px;
}
.accent {
  font-size: 80px;
  font-style: italic;
  font-weight: 600;
  line-height: 82px;
  color: #54be96;
}
.heroPage {
  display: block;
  width: 510px;

  font-size: 18px;
  font-weight: 500;
  line-height: 1.3em;
  margin-bottom: 40px;
}
.button {
  background-color: #54be96;
  padding: 18px 50px;

  border-radius: 30px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  color: #fbfbfb;
  cursor: pointer;
  border: none;
}
button:hover {
  background: #36a379;
}
