.heroSection {
  display: flex;
  flex-direction: column;

  gap: 40px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .heroSection {
    flex-direction: row;
    justify-content: center;
    gap: 125px;
    /* padding-top: 78px; */
  }
}

@media (min-width: 1184px) {
  .heroSection {
    padding-top: 0;
  }
}

.container {
  padding-top: 126px;
  padding-bottom: 140px;
  max-width: 600px;
  width: 100%;
}

.heroTitle {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: -0.02em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heroTitle {
    font-size: 48px;
    text-align: left;
  }
}

@media screen and (min-width: 1216px) {
  .heroTitle {
    font-size: 80px;
  }
}

.accent {
  color: #54be96;
  font-style: italic;
}

.heroPage {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3em;
  text-align: start;
}

@media screen and (min-width: 768px) {
  .heroPage {
    font-size: 18px;
    margin-bottom: 40px;
  }
}

.button {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 14px 24px;
  font-size: 18px;
  font-weight: 500;
  background-color: #54be96;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 20px;
    padding: 18px 50px;
  }
}

.button:hover {
  background-color: #36a379;
}

.iconArrow {
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .iconArrow {
    width: 18px;
    height: 18px;
  }
}

.heroImageWrapper {
  position: relative;
  max-width: 464px;
  padding-top: 78px;
}

.heroImages {
  width: 100%;
  height: auto;
  max-width: 446px;
  display: block;
  max-height: 526px;
}
