.reviewer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #54be96;
  background-color: #54be9633;
  width: 44px;
  height: 44px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1em;
  border-radius: 50%;
}

.comment {
  color: #191a1580;
  margin-bottom: 40px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2em;
}

.cardHeader {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
  margin-top: 25px;
}
.cardRating {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.nameReviever {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
}
