.filterToggleButton {
  display: flex;
  gap: 82px;
  align-items: center;
  justify-content: space-between;
  border-radius: 14px;
  padding: 12px 10px 12px 14px;
  color: #fbfbfb;
  background-color: #54be96;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  transition: background 0.2s ease;
}
.filterToggleButton:hover {
  opacity: 1;
  background-color: #45a578;
}

@media screen and (min-width: 768px) {
  .filterToggleButton {
    padding: 16px 14px 16px 18px;
    font-size: 16px;
    gap: 124px;
  }
}

.iconVectorBottom {
  width: 10px;
  height: 5px;
  transition: transform 0.3s ease;
}

.iconVectorTop {
  transform: rotate(180deg);
}
