.iconboxViolet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4535af;
  transform: rotate(65deg);
  position: absolute;
  top: 45%;
  right: 35%;
  border-radius: 10px;
}
.iconboxYellow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 59px;
  background-color: #fbc75e;
  transform: rotate(15deg);
  top: 18%;
  right: -4%;
  position: absolute;
  border-radius: 10px;
}
