.iconboxViolet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4535af;
  transform: rotate(75deg);
  position: absolute;
  top: 38%;
  right: 99%;
  border-radius: 10px;
}
.iconViolet {
  width: 10px;
  height: 15px;
  transform: rotate(-75deg);
}
.iconViolet {
  width: 8px;
  height: 13px;
}

.iconboxYellow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #fbc75e;
  transform: rotate(12deg);
  top: 9%;
  right: -9%;
  position: absolute;
  border-radius: 10px;
}
.iconYellow {
  width: 25px;
  height: 25px;
  transform: rotate(-15deg);
}
