.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 1216px;
  margin: 0 auto;
  box-sizing: border-box;
}
.line {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  border: 1px solid #191a151a;
}
