.psychologistPageContainer {
  margin: 0 auto;
  padding: 32px 0;
  max-width: 1184px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .psychologistPageContainer {
    padding: 64px 0;
  }
}
