.favoriteContainer {
  width: 100%;
  max-width: 1184px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.emptyState {
  width: 100%;

  text-align: center;
  color: #888;
  font-size: 18px;
}
