.checkboxcontainer {
  position: absolute;
  top: 51%;
  left: 12%;
  transform: translateX(-90px);
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .checkboxcontainer {
    left: 8%;
  }
}

@media screen and (min-width: 1216px) {
  .checkboxcontainer {
    left: -5%;
  }
}
.checkboxlabel {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 240px;
  height: 80px;
  gap: 2px;
  background-color: #54be96;
}
@media screen and (min-width: 768px) {
  .checkboxlabel {
    width: 260px;
    height: 90px;
    gap: 16px;
  }
}
@media screen and (min-width: 1216px) {
  .checkboxlabel {
    width: 311px;
    height: 118px;
  }
}
.textContainer {
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  color: #fbfbfb80;
}
.count {
  font-weight: bold;
  color: #fbfbfb;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2em;
  text-align: left;
}

.customCheckbox {
  width: 20px;
  height: 20px;
  padding: 8px;
  border-radius: 3px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, border-color 0.2s;
}
@media screen and (min-width: 768px) {
  .customCheckbox {
    width: 30px;
    height: 30px;
    padding: 12px;
    border-radius: 5px;
  }
}

.checkbox:checked + .customCheckbox::after {
  content: "✔";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 20px;
  height: 18px;
  color: #54be96;
  font-weight: bold;
  line-height: 1;
}

.checkbox {
  display: none;
}
