.headerContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
  gap: 6px;
}
@media (min-width: 767px) {
  .headerContainer {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1264px) {
  .headerContainer {
    gap: 16px;
  }
}

.line {
  border: 1px solid #191a151a;
  width: 100%;
  position: absolute;
  left: 0;
}

.headerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 767px) {
  .headerBox {
    flex-direction: row;
    justify-content: space-between;
    gap: 36px;
  }
}
@media (min-width: 1264px) {
  .headerBox {
    gap: 130px;
  }
}

.navList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 12px;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3em;
}
@media (min-width: 767px) {
  .navList {
    flex-direction: row;
  }
}
@media (min-width: 1264px) {
  .navList {
    gap: 40px;
  }
}

.navList a {
  color: #191a15;
  text-decoration: none;
}
.buttonBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (min-width: 767px) {
  .buttonBox {
    flex-direction: row;
  }
}

.buttonLogin {
  padding: 8px 20px;
  gap: 8px;
  border: 1px solid #54be96;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
  color: #191a15;
  cursor: pointer;
}
@media (min-width: 768px) {
  .buttonLogin {
    padding: 12px 26px;
  }
}
@media (min-width: 1264px) {
  .buttonLogin {
    padding: 14px 30px;
    font-size: 16px;
  }
}

.buttonRegistrator {
  padding: 8px 20px;
  gap: 8px;
  border-radius: 30px;
  background: #54be96;
  border: none;
  color: white;
  font-size: 12px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .buttonRegistrator {
    padding: 12px 26px;
  }
}

@media (min-width: 1264px) {
  .buttonRegistrator {
    padding: 14px 30px;
    font-size: 16px;
  }
}

.userSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.userBox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #54be96;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.userIcon {
  color: #fbfbfb;
  width: 16px;
  height: 16px;
}

.userName {
  font-size: 16px;
  font-weight: 600;
}
.userSection {
  display: flex;
  gap: 28px;
}
.logoutButton {
  cursor: pointer;
  padding: 14px 39px;
  gap: 8px;
  border-radius: 30px;
  border: 1px solid #f4f6ef1a;
  background-color: #fbfbfb;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
  color: #191a15;
}
