.titleAppointmentModal {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2em;
}
.pageAppointmentModal {
  font-size: 16px;
  line-height: 1.3em;
}
.pageInfo {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3em;
  background: #8a8a89;
}
.form {
  display: flex;
  flex-direction: column;
}
.inputField {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3em;
}
.buttonSend {
  cursor: pointer;
  border-radius: 30px;
  gap: 8px;
  padding: 16px 217px;
  background-color: #54be96;
  color: #fbfbfb;
}
