.psychologistCardContainer {
  display: flex;
  align-items: flex-start;
  padding: 24px;
  background-color: #fbfbfb;
  border-radius: 24px;
  gap: 24px;
}
.avatar {
  display: block;
  width: 96px;
  height: 96px;
  border-radius: 15px;
  width: 100%;
  height: 100%;

  object-fit: cover;
}
.outerCircle {
  position: absolute;
  top: 8px;
  right: 8px; /* або top/left — змінюй як хочеш */
  width: 14px;
  height: 14px;
  background-color: white; /* колір великого кружечка */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Внутрішнє коло */
.innerCircle {
  width: 10px;
  height: 10px;
  background-color: #54be96; /* зелений або інший */
  border-radius: 50%;
}
.avatarContainer {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 12px;
  color: #fbfbfb;
  border-radius: 30px;
  border: 2px solid #54be9633;
  position: relative;
  display: inline-block;
}

.cardBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.listRatingPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.cardHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  font-weight: 500;
  font-size: 24px;
  line-height: 1em;
  color: #191a15;
  margin-bottom: 24px;
}
.infoPcychologistList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.psychologistInfo {
  font-weight: 500;
  color: #8a8a89;
  line-height: 1.5em;
  margin-bottom: 8px;
}
.about {
  font-size: 16px;
  line-height: 1.2em;
  color: #191a1580;
  margin-bottom: 14px;
  text-align: start;
  width: 992px;
}
.rating .price {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
}

/* .iconHeart {
  width: 26px;
  height: 26px;
  fill: white;
  stroke: black;
  stroke-width: 2px;
  transition: fill 0.3s ease;
}

.iconHeartActive {
  fill: #54be96;
  stroke: none;
}
button {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.heartButton {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconHeart path {
  fill: white;
  stroke: black;
  stroke-width: 2px;
  transition: fill 0.3s ease;
}

/* Тепер без path всередині */
.iconHeartActive {
  fill: #54be96; /* Колір змінюється тільки у серця */
  stroke: none;
}

.readMore {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  background: inherit;
  color: #191a15;
  text-decoration: underline;
}
.readMore:hover {
  background-color: inherit;
}
.experience,
.license,
.specialization,
.initialConsultation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: #f3f3f3;
  border-radius: 24px;
  color: #8a8a89;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5px;
}
span {
  color: #191a15;
  margin-left: 5px;
}
.pricePerHour {
  color: #38cd3e;
}
.openModalButton {
  width: 227px;
  height: 48px;
  border-radius: 30px;
  padding: 14px 32px;
  background-color: #54be96;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2px;
  color: #fbfbfb;
}
.loginAlert {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #ffdddd;
  color: #a60000;
  padding: 12px 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  font-weight: 500;
}
