.psychologistCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbfbfb;
  padding: 16px;
  border-radius: 24px;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .psychologistCardContainer {
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .avatar {
    width: 96px;
    height: 96px;
  }
}
.outerCircle {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.innerCircle {
  background-color: #54be96;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.avatarContainer {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  color: #fbfbfb;
  padding: 12px;
  border-radius: 30px;
  border: 2px solid #54be9633;
}

.cardBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1184px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.listRatingPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
@media screen and (min-width: 768px) {
  .listRatingPrice {
    gap: 32px;
  }
}
.cardHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .cardHeader {
    flex-direction: row;
  }
}
.name {
  color: #191a15;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1em;
}
@media screen and (min-width: 768px) {
  .name {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
  }
}
.infoPcychologistList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.psychologistInfo {
  font-weight: 500;
  color: #8a8a89;
  line-height: 1.5em;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .psychologistInfo {
    font-size: 14px;
  }
}

.about {
  text-align: start;
  color: #191a1580;
  margin-bottom: 14px;
  width: 100%;
  font-size: 12px;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .about {
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    width: 992px;
    line-height: 1.2em;
  }
}

.rating,
.price {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5em;
}
@media screen and (min-width: 768px) {
  .rating,
  .price {
    font-size: 16px;
  }
}
.heartButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
}
.heartButton:hover {
  background-color: transparent;
}

.iconHeart {
  fill: white;
  stroke: black;
  width: 20px;
  height: 17px;
}
@media screen and (min-width: 768px) {
  .iconHeart {
    width: 23px;
    height: 20px;
  }
}
.iconHeartActive {
  fill: #54be96;
  stroke: none;
}

.iconStar {
  fill: #ffc531;
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.readMore {
  color: #191a15;
  background: inherit;
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2em;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .readMore {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
  }
}
.readMore:hover {
  background-color: inherit;
}

.experience,
.license,
.specialization,
.initialConsultation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8a8a89;
  background-color: #f3f3f3;
  padding: 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2px;
  border-radius: 20px;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .experience,
  .license,
  .specialization,
  .initialConsultation {
    padding: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5px;
    border-radius: 24px;
  }
}
span {
  color: #191a15;
  margin-left: 5px;
}
.pricePerHour {
  color: #38cd3e;
}
.openModalButton {
  color: #fbfbfb;
  background-color: #54be96;
  padding: 14px 32px;
  width: 227px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
  border-radius: 30px;
  cursor: pointer;
}
.openModalButton:hover {
  opacity: 1;
  background-color: #45a578;
}

.loginAlert {
  position: fixed;
  top: 20px;
  right: 20px;
  color: #a60000;
  background-color: #ffdddd;
  padding: 12px 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  font-weight: 500;
}
.psychologistCardContainer:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
