.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: #191a1599;
  width: 100%;
  height: 100%;
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  padding: 22px;
  width: 90%;
  max-width: 300px;
  border-radius: 30px;
  text-align: start;
  box-sizing: border-box;
  z-index: 1000;
}
@media screen and (min-width: 768px) {
  .modalContent {
    padding: 48px;
    width: 70%;
    max-width: 566px;
  }
}
@media screen and (min-width: 1024px) {
  .modalContent {
    width: 50%;
  }
}
.modalTitle {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2em;
}
@media screen and (min-width: 768px) {
  .modalTitle {
    font-size: 32px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .modalTitle {
    font-size: 36px;
    margin-bottom: 40px;
  }
}
.modalText {
  color: #191a1580;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
}
@media screen and (min-width: 768px) {
  .modalText {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .modalText {
    font-size: 18px;
    margin-bottom: 40px;
  }
}
.modalContent form input {
  background-color: #fbfbfb;
  margin-bottom: 16px;
  padding: 14px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid #191a151a;
}
@media screen and (min-width: 768px) {
  .modalContent form input {
    padding: 16px;
  }
}
@media screen and (min-width: 768px) {
  .modalContent form input {
    padding: 18px;
  }
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #333;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .closeButton {
    font-size: 28px;
    top: 20px;
    right: 20px;
  }
}
.closeButton:hover {
  color: #54be96;
  background-color: #fbfbfb;
}

.buttonSignIn {
  color: white;
  background-color: #54be96;
  margin-top: 16px;
  padding: 16px;
  width: 100%;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .buttonSignIn form button {
    padding: 18px;
  }
}
@media screen and (min-width: 1184px) {
  .buttonSignIn form button {
    padding: 20px;
  }
}
.passwordBox {
  position: relative;
  width: 100%;
}

.passwordInput {
  width: 100%;
  padding-right: 40px;
}

.passwordToggle {
  position: absolute;
  top: 25px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  width: 30px;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  padding: 0;
}
