.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #191a1599;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 300px;
  background-color: #fbfbfb;
  padding: 22px;
  border-radius: 30px;
  text-align: start;
  box-sizing: border-box;
  z-index: 1001;
}
@media screen and (min-width: 768px) {
  .modalContent {
    width: 60%;
    padding: 48px;
    max-width: 566px;
  }
}
@media screen and (min-width: 1024px) {
  .modalContent {
    width: 50%;
  }
}
.modalTitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2em;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .modalTitle {
    font-size: 32px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .modalTitle {
    font-size: 36px;
    margin-bottom: 40px;
  }
}
.modalText {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 0%;
  color: #191a1580;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .modalText {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .modalText {
    font-size: 18px;
    margin-bottom: 40px;
  }
}
.modalContent form input {
  width: 100%;
  padding: 14px;
  background-color: #fbfbfb;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 12px;
  border: 1px solid #191a151a;
}
@media screen and (min-width: 768px) {
  .modalContent form input {
    padding: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .modalContent form input {
    padding: 20px;
  }
}
.modalContent form button {
  width: 100%;
  padding: 16px;
  background-color: #54be96;
  color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .modalContent form button {
    padding: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .modalContent form button {
    padding: 20px;
  }
}
.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #333;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .closeButton {
    font-size: 32px;
    top: 28px;
    right: 28px;
  }
}
.closeButton:hover {
  color: #54be96;
  background-color: #fbfbfb;
}
